src/main/mule/flights_details_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config-Flights" doc:name="HTTP Listener config" doc:id="0519af6d-94f5-45ed-aabc-be025a58560a" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="18898855" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="bb03754c-f8a0-470c-9736-bf6e32524e95" flowRef="flights_apiFlow" />
	<flow name="flights_apiFlow" doc:id="450f9124-1b31-456c-8cde-c954ccb50d68" >
		<http:listener doc:name="Listener" doc:id="e82d8687-14f0-4514-960c-c33ad317b08b" config-ref="HTTP_Listener_config-Flights" path="/flights" outputMimeType="application/json" allowedMethods="POST" />
		<ee:transform doc:name="Transform Message" doc:id="9cb89ad9-9d1b-4772-b7a6-372ee44cf155" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.flights map (data, index) -> {
		"emptySeats": data.availableSeats,
		"airline": data.airlineName,
		"aircraftBrand": data.aircraftBrand,
		"aircraftType": data.aircraftType,
		"departureDate": data.departureDate,
		"origin": data.origin,
		"destination": data.destination
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
